
body  {

	font-family:Arial, sans-serif,sans-serif;
	color:#000000;
	text-transform: none; 
	font-weight: 100; 
	margin-bottom: 0;
	
}
ul p div {
	width: 85%;
}
p {
	margin-top: 3%;
}
#headerimage{
	max-width: 85%;
    	height: auto;
	display: block;
    	margin: 0 auto;    
}


ul#headernav {	
	width: 85%;
	display:table; 
	margin:0 
	auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #00adef;
}

ul#headernav li {
    float: left;
}

ul#headernav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul#headernav li a:hover {
    	background-color: #68caef;
}





.slick-carousel {	
	height:auto;
	display:block;
    	margin:auto;
    	
    	
}

.car {
	padding: 20px;
}
.item {
	margin: 3px;	
}

.item img {
	display: block;
	  width: auto;
  	 height: 40vh;
  	 margin-left: 10px;
  	 margin-right: 10px;
}

.list_image:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
	cursor: pointer; 
	cursor: hand;
}


#content {
	max-width: 85%;
	display: block;
    	margin: 0 auto;    	
}
#h1{
	font-variant: small-caps; 
	clear: both;
	font-size: 2.7em;
	margin-top: 3%;	
}
#h2{
	clear: both;
}
#h3{
	width: 85%;
	clear: both;
	
}

.slick-prev:before, .slick-next:before {
	color: #00adef !important;
}




ul#footernav {	
	width: 85%;
	display:table; 
	margin:0 
	auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #fff200;
	position: fixed;
	left: 0;
	right: 0;
    	bottom: 0;
}

ul#footernav li {
    float: left;
}

ul#footernav li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul#footernav li a:hover {
    	background-color: #fffbb0;
}