
body  {

	font-family:Arial, sans-serif,sans-serif;
	color:#000000;
	font-variant: small-caps; 
	text-transform: none; 
	font-weight: 100; 
	margin-bottom: 0;
	
}

#headerimage{
	max-width: 70%;
    	height: auto;
	display: block;
    	margin: 0 auto;    
}


ul#headernav {	
	width: 70%;
	display:table; 
	margin:0 
	auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #00adef;
}

ul#headernav li {
    float: left;
}

ul#headernav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul#headernav li a:hover {
    	background-color: #68caef;
}

	



.horr_list{
	
	padding: 20px;
	border-style: solid;
	border-color: #00adef;
	display:block;
    	margin:auto;
    	
}

.list_image {
	width: auto;
    	height: 10vh;
}

.list_image:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
	cursor: pointer; 
	cursor: hand;
}


#content {
	max-width: 70%;
	display: block;
    	margin: 0 auto;    	
}
#h1{
	clear: both;
	font-size: 3em;
	margin-top: 3%;	
}
#h2{
	clear: both;
	margin-top: 10%;
}
#h3{
	clear: both;
	margin-top: 10%;
}


.slick-prev:before, .slick-next:before { 
    color:#00adef !important;
}

