

#headerimage{
	max-width: 70%;
    	height: auto;
	display: block;
    	margin: 0 auto;
    
}
#headernav{
	max-width: 70%;
	display: block;
    	margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00adef;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #68caef;
}

